{
  "vendors": [
    ["vendor_code1", "A single option will become a hidden input"]
  ],
  "funds": [
    "unlabeled_fund1",
    ["fund2", "Fund 2 has a label!"],
    "unlabeled_fund3"
  ],
  "report1": [
    ["code1", "Code 1 Label"],
    ["code2", "Code 2 Label"],
    ["code3", "An empty list as below"],
    ["code4", "will omit the field"]
  ],
  "report2": [],
  "defaults": {
    "c": "code2"
  }
}
