{
  "vendors": ["vendor1", "vendor2", "vendor3"],
  "funds": ["fund1", "fund2", "fund3"],
  "report1": ["reporting_code_1"],
  "report2": [
    ["reporting2_code1", "Label for 2nd rep code 1"],
    ["reporting2_code2", "Label for 2nd rep code 2"],
    ["-", "-"]
  ]
}
