<!doctype html>
<html>
  <head>
    <title>{{^bookmarkletName}}Create EOD{{/bookmarkletName}}{{ bookmarkletName }}</title>
  </head>
  <body>
    <a href="javascript:void({{ jsUri }})"
    >{{^bookmarkletName}}Create EOD{{/bookmarkletName}}{{ bookmarkletName }}</a>
  </body>
</html>
