<!doctype html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>{{ bookmarkletName }}</title>
  </head>
  <body>
    <p>{{ bookmarkletInstruction }}</p>
    <p><a href="javascript:void({{ jsUri }})">{{ bookmarkletName }}</a></p>
  </body>
</html>
